/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f5ca40cc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #EBBE29;
    padding: 15px; /* Reduzido */
    border-radius: 6px; /* Reduzido */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 240px; /* Reduzido */
}

h1 {
    text-align: center;
    font-size: 1.2rem; /* Reduzido */
}

label {
    margin-top: 8px; /* Reduzido */
    font-size: 0.9rem; /* Reduzido */
    display: block;
}

input {
    width: 100%;
    padding: 6px; /* Reduzido */
    margin: 4px 0 12px; /* Reduzido */
    border: 1px solid black;
    border-radius: 3px; /* Reduzido */
}

button {
    text-align: center;
    width: 100%;
    padding: 8px; /* Reduzido */
    background-color: #8D6D01;
    color: black;
    border: none;
    border-radius: 4px; /* Reduzido */
    cursor: pointer;
    font-size: 0.9rem; /* Reduzido */
}

button[type="button"] {
    background-color: transparent;
    color: black;
    border: none;
    text-align: center;
    padding: 0;
    font-size: 0.8rem; /* Reduzido */
}

button[type="button"]:hover {
    text-decoration: underline;
}

button:hover {
    opacity: 0.9;
}

.div1 {
    text-align: center;
}